h1, h2, p{
    width: 50%;
    margin-left: 50px;
}

h1{
    font-size: 40px;
    color: #09092B;
    font-weight: bold;
    margin-top: 100px;

    display: flex;
    justify-content: center;
}

h2{
    font-size: 32px;
    color: #29293A;
    font-weight: normal;
    display: flex;
    justify-content: flex-end;
}

p{
    font-size: 20px;
    color: #3C3C46;
    font-weight: lighter;
    display: flex;
    justify-content: center;
}

